RESEND_API_KEY=replace_with_resend_key
FERNANDO_CONTACT_EMAIL_FROM="Fernando Parreiras <contato@fernandoparreiras.com.br>"
FERNANDO_CONTACT_EMAIL_TO=fernando@fernandoparreiras.com.br
FERNANDO_CONTACT_REPLY_TO=fernando@fernandoparreiras.com.br
FERNANDO_BASE44_CRM_ENABLED=false
FERNANDO_BASE44_CRM_INGEST_URL=https://tech-human-crm.base44.app/functions/ingestLead
FERNANDO_BASE44_CRM_SIGNING_SECRET=replace_with_at_least_32_random_bytes
FERNANDO_BASE44_CRM_TIMEOUT_MS=4000
